.descricao {
  color: white;
  display: flex;
  height: 600px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-top: 170px;
  margin-right: 3rem;
  width: 500px;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.descricao__texto {
  color: #dbd9d9;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

@media screen and (max-width: 768px){

  .descricao{
    height: 400px;
    margin: auto;
    text-align: center;
    width: calc(100vw - 3rem);
  }


  .descricao__titulo{
    font-size: 30px;
  }

  .descricao__texto{
    text-align: center;
  }
}
