:root {
  --cor-vermelho: hsl(0, 100%, 74%);
  --cor-verde: hsl(154, 59%, 51%);
  --cor-azul: hsl(248, 32%, 49%);
  --cor-azul-escuro: hsl(249, 10%, 26%);
  --cor-azul-acizentado: hsl(246, 25%, 77%);
}

html {
  width: 1440px;
  height: 800px;
  margin: auto;
}

.app {
  background-color: var(--cor-vermelho);
  background-image: url(../images/bg-intro-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  html {
    width: auto;
    height: auto;
  }

  .app {
    background-image: url(../images/bg-intro-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
